<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TeachEasy | Home</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        @if (ViewBag.ShowSideBar ?? false)
        {
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Tool Bar </div>
            <div id="question_modifiers">
                <button type="button" class="list-group-item side-button" id="math">Math Equation</button>
                <button type="button" class="list-group-item side-button" id="insertGraph">Insert Graph</button>
                <button type="button" class="list-group-item side-button" onclick="window.print()">Print/Export</button>
            </div>
            <div id="question_section">
                <button id="addSection" class="list-group-item side-button">Add Question ></button>
                <div id="reqQuestionType">
                    <form>
                        <button id="written" class="list-group-item side-button" type="button">Written</button><br />
                        <button id="mc" class="list-group-item side-button" type="button">Multiple Choice</button><br />
                        <button id="fib" class="list-group-item side-button" type="button">Fill in Blank</button><br />
                        <button id="tf" class="list-group-item side-button" type="button">True/False</button>
                    </form>
                </div>
            </div>
        </div>
        }
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!--                           <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
                -->
                
                <img src="~/Content/images/teacheasy.png" id="logo"/>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon" aria-expanded="false"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="menu">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Assignment Editor", "Index", "Assignment", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("About Us", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item active">
                                @Html.ActionLink("Sign in", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                            </li>

                            
                        </ul>
                    </div>
                </div>

            </nav>
            <div class="container-fluid">
                @RenderBody()
                @RenderSection("SPAViews", required: false)
                
                <footer><hr />
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });</script>

    @RenderSection("Scripts", required: false)
</body>

</html>